/* @import url(slide1.css);

@import url(slide2.css);

@import url(slide3.css); */

@font-face {
    font-family: "Poppins";
    src: url("font/Poppins-Regular.ttf");
    font-weight: bold;
    font-style: normal;
}

* {
    font-family: 'Poppins', sans-serif !important;
}

@import url(slides-style/slide4.css);

@import url(slides-style/slide8.css);

/* @import url(slide5.css);

@import url(slide6.css);

@import url(slide7.css); */