/*Importation des polices*/

@font-face {
    font-family: "Poppins";
    src: url("font/Poppins-Regular.ttf");
    font-weight: bold;
    font-style: normal;
}

* {
    font-family: 'Poppins', sans-serif !important;
}

/***Thèmes colorés***/

/*Thème été*/

/*Slides de début et de fin*/

#slide_1,
#slide_2,
#slide_3,
#slide_4,
#slide_5,
#slide_18,
#slide_19 {
    background-color: #FFA86B;
}

/*Slides de texte*/

#slide_6,
#slide_7,
#slide_8 {
    background-color: #FFCC84;
}

/*Slides d'images*/

#slide_9,
#slide_10,
#slide_11,
#slide_12 {
    background-color: #FFE69E;
}

/*Slides de son*/

#slide_13,
#slide_14 {
    background-color: #FFFFEB;
}

/*Slides de vidéos*/

#slide_15,
#slide_16,
#slide_17 {
    background-color: #CCF6EE;
}

/*Thème pastel*/

/* #slide_1, #slide_2, #slide_3, #slide_4, #slide_5, #slide_18, #slide_19 {
    background-color: #EEF9FF;
}

#slide_6, #slide_7, #slide_8 {
    background-color: #FFF7FC;
}

#slide_9, #slide_10, #slide_11, #slide_12 {
    background-color: #FFFDED;
}

#slide_13, #slide_14 {
    background-color: #FFF7EC;
}

#slide_15, #slide_16, #slide_17 {
    background-color: #FFFBFB;
} */

/*Thème campagne*/

/* #slide_1, #slide_2, #slide_3, #slide_4, #slide_5, #slide_18, #slide_19 {
    background-color: #D3C1C3;
}

#slide_6, #slide_7, #slide_8 {
    background-color: #E2D0BE;
}

#slide_9, #slide_10, #slide_11, #slide_12 {
    background-color: #EEE5BF;
}

#slide_13, #slide_14 {
    background-color: #E8F8C1
}

#slide_15, #slide_16, #slide_17 {
    background-color: #D0F0B9;
} */

/*Thème sombre*/

/* #slide_1, #slide_2, #slide_3, #slide_4, #slide_5, #slide_18, #slide_19 {
    background-color: #002029;
    color: white;
}

#slide_6, #slide_7, #slide_8 {
    background-color: #032934;
    color: white;
}

#slide_9, #slide_10, #slide_11, #slide_12 {
    background-color: #04323E;
    color: white,
}

#slide_13, #slide_14 {
    background-color: #0D3B47;
    color: white;
}

#slide_15, #slide_16, #slide_17 {
    background-color: #144B58;
    color: white;
} */

/***Slides d'ouverture du guide***/

/*Page de titre - Slide 1*/

#slide_1_r {
    overflow: auto;
}

#slide_1_titre_principal {
    font-size: 2rem;
}

#slide_1_sous_titre {
    font-style: italic;
    font-size: 1.5rem;
    margin-top: 5px;
    margin-bottom: 5px;
}

/*Slide 2 - Page de titre pour publication scientifique*/

#slide_2_r {
    overflow: auto;
}

.slide_2_titre {
    font-size: 2rem;
}

/*Slide 3 - Slide contenant des remerciements*/

#slide_3_r {
    overflow: auto;
}

#slide_3_titre {
    font-size: 2rem;
    margin-bottom: 2%;
}

.slide_3_merci {
    font-style: italic;
    padding-left: 20%;
    padding-right: 20%;
}

/*Slide 4 - Slide contenant un résumé*/

#slide_4_r {
    overflow: auto;
}

#slide_4_titre {
    font-size: 2rem;
    margin-bottom: 2%;
}

.slide_4_resume {
    padding-left: 10%;
    padding-right: 10%;
    text-align: justify;
}

/*Slide 5 - Slide contenant une introduction*/

#slide_5_r {
    overflow: auto;
}

#slide_5_titre {
    font-size: 2rem;
    margin-bottom: 2%;
}

.slide_5_intro {
    padding-left: 20%;
    padding-right: 20%;
}

/***Style pour les slides avec une dominante textuelle***/

/*Slide 6 - Slide avec un texte plein*/

#slide_6_div {
    text-align: justify;
}

#slide_6_r {
    overflow: auto;
}

/*Slide 7 - Slide avec deux colonnes de texte*/

#slide_7_c {
    overflow: auto;
}

#slide_7_div1 {
    text-align: justify;
}

.slide_7_texte {
    text-align: justify;
}

/*Slide 8 - Slide avec deux rangées de texte*/

#slide_8_c {
    overflow: auto;
}

#slide_8_div1 {
    text-align: justify;
}

.slide_8_texte {
    text-align: justify;
}

/***Style pour les slides avec une dominante multimédia***/

/*Slide 9 - Slide contenant une image responsive en plein écran*/

#slide_9 {
    padding: 0;
    /* background-color: #363440; */
}

#slide_9_image {
    max-width: 100vw;
    max-height: 100vh;
}

/*Slide 10 - Slide contenant une colonne de texte et une image responsive*/

#slide_10_div1 {
    text-align: justify;
}

#slide_10_r {
    --bs-gutter-x: 0;
}

#slide_10_c {
    padding-right: 0;
    padding-left: 0;
    overflow: auto;
}

#slide_10_image {
    max-width: 100vw;
    max-height: 100vh;
}

#slide_10_div2 {
    padding: 0;
}

#slide10row {
    margin-right: 0px;
    margin-left: 0px;
}

.slide_10_texte {
    text-align: justify;
}

/*Slide 11 - Slide contenant une image responsive et une colonne de texte*/

#slide_11_div2 {
    text-align: justify;
    padding: 0;
}

#slide_11_r {
    --bs-gutter-x: 0;
}

#slide_11_c {
    overflow: auto;
    padding-right: 0;
    padding-left: 0;
}

#slide_11_image {
    max-width: 100vw;
    max-height: 100vh;
}

#slide_11_div1 {
    padding: 0;
}

#slide11row {
    margin-right: 0px;
    margin-left: 0px;
}

.slide_11_texte {
    text-align: justify;
}

/*Slide 12 - Slide avec deux rangées contenant un texte et une image*/

#slide_12_image {
    max-width: 100vw;
    max-height: 50vh;
}

#slide_12_div2 {
    max-width: 100vw;
}

#slide_12_c {
    overflow: auto;
}

#slide_12_div1 {
    text-align: justify;
}

.slide_12_texte {
    text-align: justify;
}


/*Slide 13 - Slide contenant un texte et une bande sonore légendée*/

#slide_13_r {
    --bs-gutter-x: 0;
    overflow: auto;
}

#slide_13_div1 {
    --bs-gutter-x: 0;
}

#slide_13_son {
    --bs-gutter-x: 0;
}

#slide_13_son_legende {
    font-style: italic;
}

.slide_13_texte {
    text-align: justify;
}

/*Slide 14 - Slide contenant deux bandes sonores légendées*/

#slide_14_r {
    --bs-gutter-x: 0;
    overflow: auto;
}

#slide_14_son {
    --bs-gutter-x: 0;
}

#slide_14_son_legende1 {
    font-style: italic;
}

#slide_14_son_legende2 {
    font-style: italic;
}

#son2,
#son1 {
    position: relative;
}

/*Slide 15 - Slide contenant une vidéo en pleine écran*/

/*Slide 16 - Slide contenant une vidéo avec un titre et un texte*/

.slide_16_texte {
    text-align: justify;
}

#slide_16_div1 {
    text-align: justify;
}

#slide_16_r {
    --bs-gutter-x: 0;
    overflow: auto;
}

#slide_16_c {
    padding: 0;
}

#slide_16_titre {
    font-style: italic;
}

/*Slide 17 - Slide contenant un texte et une vidéo*/

#slide_17_div1 {
    text-align: justify;
}

#slide_17_r {
    --bs-gutter-x: 0;
    overflow: auto;
}

#slide_17_c {
    padding: 0;
    overflow: auto;
}

#slide_17_image {
    max-width: 100vw;
    max-height: 70vh;
}

#slide_17_div2 {
    max-width: 100vw;
    padding: 0;
}

/***Slides de fin***/

/*Slide 18 - Bibliographie*/

#slide_18_bib {
    font-size: 2rem;
    margin-bottom: 5%;
}

.slide_18_livre {
    font-size: 1rem;
    margin-top: 5px;
    margin-bottom: 5px;
}

#slide_18_r {
    overflow: auto;
}

/*Slide 19 - Bibliographie sans titre*/

.slide_19_livre {
    font-size: 1rem;
    margin-top: 5px;
    margin-bottom: 5px;
}

#slide_19_r {
    overflow: auto;
}